@import "tailwindcss";

@theme {
  --font-syne: var(--font-syne);
  --font-manrope: var(--font-manrope);

  --color-background: #000000;
  --color-foreground: #ffffff;
}

/* Custom Utilities */
@utility text-heading {
  font-family: var(--font-syne);
}

@utility text-body {
  font-family: var(--font-manrope);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-manrope);
}

/* Lenis */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
